<div id="navbar-header" class="nav">    
    <a href="#" class="logo"></a>
    <nav class="nav__pc">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link text-decoration-none">TRANG CHỦ</a>
            </li>
            <li class="nav__item">
                <a href="/courses" class="nav__link text-decoration-none">KHÓA HỌC</a>
            </li>
            <li class="nav__item">
                <a href="" class=" nav__link text-decoration-none">LIÊN HỆ</a>
            </li>
        </ul>
    </nav>
    <label for="nav-mobile-input" class="nav__bar-btn">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
    </label>  
    <input type="checkbox"  hidden name="" class="nav__input" id="nav-mobile-input">
    <label for="nav-mobile-input"   class="nav__overlay"></label>
    <nav class="nav__mobile">
        <label for="nav-mobile-input" >  
            <img class="nav__mobie-close" src="../../../images/close.png" alt="" >
        </label>
        <ul class="nav__mobile-list ">
            <li>
                <a href="/" class="nav__mobile-link text-decoration-none">TRANG CHỦ</a>
            </li>
            <li>
                <a href="/courses" class="nav__mobile-link text-decoration-none">KHÓA HỌC</a>
            </li>
            <li>
                <a href="" class="nav__mobile-link text-decoration-none">LIÊN HỆ</a>
            </li>
        </ul>
    </nav>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $(window).scroll(function(){
            if(this.scrollY > 20) 
            $("#navbar-header").addClass("navbar-header-scrolled");
        
            else
            $("#navbar-header").removeClass("navbar-header-scrolled");
        });
    }) 
</script>