<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>
    <!-- Home  -->
    <div class="row">
        <div class="wrapper">
            <div class="header">
                <div class="container-fluid d-lg-flex">
                    <div class="col-lg-6 header-img-section d-lg-flex justify-content-lg-center align-items-lg-center mb-5">
                        <img src="../images/header.png" alt="header-img-section">
                    </div>
                    <div class="col-lg-6 header-title-section text-center text-lg-left mx-lg-auto justify-content-lg-center align-items-lg-start">
                        <h1 class="header-subtitle">Học lập trình từ con số 0</h1>
                        <h1 class="header-title pb-3">CỘNG ĐỒNG HỌC LẬP TRÌNH MIỄN PHÍ</h1>
                        <p class="header-title-text pb-3">Học lập trình qua thực hành thực tế với các khóa học chất lượng</p>
                        <div class="learn-more-btn-section">
                            <a class="nav-link learn-more-btn" href="/courses">KHÓA HỌC</a>
                            <a class="nav-link learn-more-btn" href="#">THAM GIA NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        {{!-- <section id="home">
            <div class="inner-width">
                <div class="content">
                    <h1 class="content__headline1">HỌC LẬP TRÌNH TỪ CON SỐ 0</h1>
                    <h4 class="content__headline4">Cộng đồng học lập trình miễn phí</h4>
                    <div class="sm">
                        <a href="" class="fab fa-facebook-f"></a>
                        <a href="" class="fab fa-twitter"></a> 
                        <a href="" class="fab fa-instagram"></a> 
                        <a href="" class="fab fa-linkedin-in"></a>   
                        <a href="" class="fab fa-youtube"></a> 
                    </div>
                    <div class="buttons ">
                        <a class= "text-decoration-none" href="/courses">KHÓA HỌC</a>
                        <a class= "text-decoration-none" href="">THAM GIA NGAY</a>
                    </div>
                </div>  
            </div>
        </section> --}}
        <div class="container mt-4">
            <div class="row">
                <div class="container">
                     <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2 class="text-center">Tại sao bạn nên học tại IFE?</h2>
                        <p class="head">IFE - <b>Information technology for everyone</b> đang xây dựng một cộng đồng học lập trình miễn phí lớn nhất Việt Nam, nơi mọi người có thể tìm thấy các khóa học bổ ích và thực tế, giúp đỡ nhau trong quá trình học cũng như đi làm!</p>
                    </div>
                </div>
                </div>
                <div class="index__home">
                    <div class="col col-sm-12 col-md-12 col-lg-4">
                        <div class="wrap-reason">
                            <img src="../images/hoc-lap-trinh.png" alt="">
                            <h3>Trên 7.000 học viên</h3>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-12 col-lg-4">
                        <div class="wrap-reason">
                            <img src="../images/luyen-lap-trinh.png" alt="">
                            <h3>Đa dạng khóa học dành cho bạn</h3>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-12 col-lg-4">
                        <div class="wrap-reason">
                            <img src="../images/chia-se-lap-trinh.png" alt="">
                            <h3>Học bất cứ lúc nào, bất cứ nơi đâu</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>